---
title: "Hakkında"
---
<article class="container about">
    <section class="index">
        <h1>Hakkında</h1>
        <p class="lead">
            <a href="https://biges.com">Biges Güvenli Hayat Teknolojileri A.Ş.</a> Ar-Ge Merkezi Yazılım Ekibi&rsquo;ne ait bloga hoş geldiniz.
        </p>
        <p>
            Amacımız, geliştirdiğimiz projelerde karşılaştığımız sorunların çözümlerini,
            öğrendiğimiz konuları, geliştirdiğimiz kütüphaneleri, donanımları sizlerle paylaşmak.
        </p>
    </section>
    <section class="index">
        <h3>Lisans</h3>
        <p>
            Bu proje MIT lisansıyla lisanslanmıştır. Tüm kaynak kodlara 
            <a href="https://github.com/biges/arge.biges.com">GitHub</a> üzerinden
            erişebilir.
        </p>
    </section>
    <hr/>
    <section class="index">
        <h3>İletişim</h3>
        <p class="lead">Biges Ar-Ge Merkezi</p>
        <p><script type="text/javascript">document.write("netr\100ovtrf\056pbz".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));</script></p>
    </section>
</article>
