<article class="container team">
    <section class="index">
        <h1>Kariyer</h1>
        <p>
            Ar-Ge merkezimizdeki açık pozisyonları bu sayfadan takip edebilirsiniz.
        </p>
        
        <table>
            <thead>
                <tr>
                    <th>Tarih</th>
                    <th>Pozisyon</th>
                </tr>
            </thead>
            <tr>
                <td>12 Kasım, 2018</td>
                <td><a href="/2018/11/12/django-gelistirici-ariyoruz/">Django Geliştirici Arıyoruz</a></td>
            </tr>
            <tr>
                <td>16 Ekim, 2018</td>
                <td><a href="/2018/10/16/frontend-gelistirici-ariyoruz/">Frontend Geliştirici Arıyoruz</a></td>
            </tr>
            <tr>
                <td>09 Ekim, 2018</td>
                <td><a href="/2018/10/09/backend-gelistirici-ariyoruz/">Backend Geliştirici Arıyoruz</a></td>
            </tr>
        </table>

    </section>
</article>
