<%
# date, link, title
# ['18 Aralık, 2018', '/2018/12/18/django-gelistirici-ariyoruz/', 'Sr. Django Geliştirici Arıyoruz']

ikon = {
    git: 'fab fa-git-alt',
    js: 'fab fa-js-square',
    vue: 'fab fa-vuejs',
    python: 'fab fa-python',
    raspberry: 'fab fa-raspberry-pi',
    yarn: 'fab fa-yarn',
    terminal: 'fas fa-terminal',
    apple: 'fab fa-apple',
}

jobs = [
    ['13 Ocak, 2021', '/2021/01/13/django-gelistiricileri-ariyoruz/', 'Django Geliştiricileri Arıyoruz', [ikon[:python], ikon[:terminal], ikon[:git], ikon[:apple]]],
    ['13 Ocak, 2021', '/2021/01/13/pythonistalar-ariyoruz/', 'Pythonistalar Arıyoruz', [ikon[:python], ikon[:terminal], ikon[:git], ikon[:raspberry]]],
    # ['13 Ocak, 2021', '/2021/01/13/django-gelistiricileri-ariyoruz/', 'Django Geliştiricileri Arıyoruz', [ikon[:js], ikon[:yarn], ikon[:vue], ikon[:git]]],
]
%>
<style>
    td.job-icon {
        text-align: right;
    }
    td.job-icon i {
        color: #2077b2;
        margin-left: .4em;
    }
</style>
<article class="container team">
    <section class="index">
        <h1>Kariyer</h1>
        <p>Ar-Ge merkezimizdeki açık pozisyonları bu sayfadan takip edebilirsiniz.</p>        

        <% unless jobs.empty? %>
        <table>
            <thead>
                <tr>
                    <th width="20%">Tarih</th>
                    <th>Pozisyon</th>
                    <th width="16%"></th>
                </tr>
            </thead>
            <tbody>
                <% jobs.each do |el| %>
                <%
                    job_date = el[0]
                    job_url = el[1]
                    job_title = el[2]
                    job_icons = ''
                    el[3].each do |kls|
                        job_icons += "<i class=\"#{kls}\"></i>"
                    end
                %>
                <tr>
                    <td><%= job_date %></td>
                    <td><a href="<%= job_url %>"><%= job_title %></a></td>
                    <td class="job-icon"><% if job_icons %><%= job_icons %><% else %>&nbsp;<% end %></td>
                </tr>
                <% end %>
            <tbody>
        </table>
        <% end %>
    </section>
</article>