<%
linkedin_prefix = 'https://www.linkedin.com/in/'
github_prefix = 'https://www.github.com/'

team = [
    # fullname, linkedin, github
    ['Ahmet Aygün', 'ahmetaygun', 'ahmet'],
    ['Ahmet Rıdvan Çağlar', 'arcaglar', 'arcaglar'],
    ['Buket Demir', 'buket-akın-demir', 'BuketDemir'],
    ['Cem Kıy', 'cemkiy', 'cemkiy'],
    ['Cem Safa', 'cem-safa-37594420', 'cemsafa'],
    ['Erdi Mollahüseyinoğlu', 'erdi-mollahuseyinoglu', 'erdimollahuseyin'],
    ['Ferhat Karataş', 'ferhat-karataş-88132541', 'ferhatkaratas'],
    ['M. Fatih Kılıç', 'mehmet-fatih-kilic-b62a3814', 'mfk-smart'],
    ['Onur Kağan Aldemir', 'onur-kagan-aldemir', 'onurkagan'],
    ['Utkucan Bıyıklı', 'utkucanbiyikli', 'UtkucanBykl'],
    ['Yusuf Tunç', 'yusuf-tunç-bba97764', 'yusuftnc'],
]
%>



<article class="container team">
    <section class="index">
        <h1>Yazılım Ekibi</h1>
        <table>
            <% team.each do |row| %>
            <tr><td><%= row[0] %></td><td align="right" width="2%"><a target="_blank" href="<%= linkedin_prefix + row[1] %>/"><i class="fab fa-linkedin-in"></i></a></td><td align="right" width="2%"><a target="_blank" href="<%= github_prefix + row[2] %>"><i class="fab fa-github"></i></a></td></tr>
            <% end %>
        </table>
    </section>
</article>
