<%
linkedin_prefix = 'https://linkedin.com/in/'
github_prefix = 'https://github.com/'

team = [
    # 0,        1,        2,        3,
    # sort-key, fullname, linkedin, github
    ['buket',              'Buket Demir',         'buket-akın-demir',            'BuketDemir'],
    ['cem kiy',            'Cem Kıy',             'cemkiy',                      'cemkiy'],
    ['ferhat karatas',     'Ferhat Karataş',      'ferhat-karataş-88132541',     'ferhatkaratas'],
    ['mehmet fatih kilic', 'M. Fatih Kılıç',      'mehmetfatihkilic',            'mfk-smart'],
    ['onur kagan',         'Onur Kağan Aldemir',  'onur-kagan-aldemir',          'onurkagan'],
    ['yusuf tu',           'Yusuf Tunç',          'yusuf-tunç-bba97764',         'yusuftnc'],
    ['onur aslan',         'Onur Aslan',          'aslanon',                     'aslanon'],
    ['kaan karaca',        'Kaan Karaca',         'kaan-karaca-7a623b107',       'h4yfans'],
    ['kubra yalcin',       'Kübra Yalçın',        'kübra-yalçın-36246292',       nil],
    ['derya guney',        'Derya Güney',         'derya-guney-53aa572a',        nil],
    ['soner boztas',       'Soner Boztaş',        'soner-boztas',                'SonerBoztas'],
    ['atakan yildiz',      'Atakan Yıldız',       'atakanakyildiz',              'atakanakyildiz'],
    ['semih kuvvet',       'Semih Kuvvet',        nil,                           'semihkuvvet'],
    ['burak kurtcebe',     'Burak Kurtcebe',      'burak-kurtcebe-44b2347b',     nil],
    ['nedim kivanc',       'Nedim Kıvanç',        'nedim-kivanc-3791591a2',      nil],
    ['semseddin moldibi',  'Şemseddin Moldibi',   'semseddin',                  'endo64'],
    ['gokhan keskin',      'Gökhan Keskin',       'gökhan-keskin-0421453a',     nil],
    ['ramazan acar',       'Ramazan Acar',        'ramazan-acar-3922a324',      'acarist'],
]
%>



<article class="container team">
    <section class="index">
        <h1>Ar-Ge Ekibimiz</h1>
        <table>
            <% team.sort_by{|person| person.first }.each do |row| %>
            <%
                full_name = row[1]
                linkedin_username = row[2]
                github_username = row[3]
            %>
            <tr>
                <td><%= full_name %></td>
                <td align="right" width="2%"><% if linkedin_username %><a target="_blank" href="<%= "#{linkedin_prefix}#{linkedin_username}"%>/"><i class="fab fa-linkedin-in"></i></a><% else %> <% end %></td>
                <td align="right" width="2%"><% if github_username %><a target="_blank" href="<%= "#{github_prefix}#{github_username}"%>"><i class="fab fa-github"></i></a><% else %> <% end %></td>
            </tr>
            <% end %>
        </table>
    </section>
</article>
