<section class="pagination">
    <% if prev_page %>
        <%= link_to "‹ #{t('messages.previous_posts')}", prev_page, :class => "btn btn-outline" %>
    <% end %>

    <%
    if num_pages
        (1..num_pages).each do |n|
            if n > 1
                need_url = "/" + blog.options.page_link.sub("{num}", "#{n}") + "/"
                if locals.key?(:tagname)
                    need_url = "/etiket/#{tagname}/" + blog.options.page_link.sub("{num}", "#{n}") + "/"
                end
                link_class = "btn btn-outline"
                link_class += " current-page" if page_number == n
                %>
                <span class="number-pages hidden-xs">
                    <%= link_to n, need_url, :class => link_class %>
                </span>
                <%
            end
        end
    end
    %>

    <% if next_page %>
        <%= link_to "#{t('messages.next_posts')} ›", next_page, :class => "btn btn-outline" %>
    <% end %>
</section>