/* CONFIGURATION */

/* Bodytext font */
//$font: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Font for headings */
//$fontheadings: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontheadings: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Text colors */
$text: #21272d;
$textmuted: #848484;
$accent: #2077b2;


$h1-color: #04267E;
$h2-color: lighten($h1-color, 10);
$h3-color: lighten($h1-color, 15);
$h4-color: lighten($h1-color, 20);
$h5-color: lighten($h1-color, 25);
$h6-color: lighten($h1-color, 30);

$table-th-color: lighten(#586298, 10);
$table-border-color: #ddd;
$table-tr-zebra-color: lighten($table-border-color, 10);